@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;800&display=swap');

:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-purple: #5d20be;
    --color-pink: #c472d8;
    --color-warning: rgb(216, 155, 85);
    --color-orange :#db6400;
    --grey: #eee;
    --dark-grey: #222831;
    --dark-green: rgb(68, 177, 91);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
}

body {
    font-family: 'Nunito', sans-serif;
}

p {
    font-size: 1.5rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {    
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
